.photo-frame{
	width:300px;
	margin:10px 10px 10px 10px;
	padding:15px;
	border: 5px solid #2e2e2e;
	
}

table, th, td{
	border:5px solid #444444;
	border-collapse:collapse;
}

th, td{
	padding:12px 20px;
}

th{
	background:#ef1a2d;
	color:white;
	font-weight:bold;
	text-transform:uppercase;
}

 tbody tr:nth-child(even) {
	  background-color: #353935;
	  color:white
}
 tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.profile-card{
	max-width:320px;
	margin:40px auto;
	padding:30px;
	background-color:#ffffff;
	box-radius:15px;
	box-shadow:0 40px 25px rgba(0,0,0,0.6);
	text-align:center;
	font-family:"Seoge UI";
}

.profile-picture{
	width: 120px;
  	height: 120px;
  	border-radius: 50%;
	 border: 1px solid #0c0a00; 
 	 margin-bottom: 20px;
}






















