
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5; 
  font-family: 'Segoe UI';
}


.card {
  background: white;
  width: 350px;
  padding: 40px;
  border-radius: 15px; 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color: #333;
  font-weight: 500;
}


input, 
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px; 
  background-color: #fafafa;
  box-sizing: border-box;
}



input[type="checkbox"] {
  width: auto;      
  margin: 0;       
}






.remember-me {
  display: flex;
  align-items: center;   
  justify-content: center; 
 gap: 10px; 
  margin-bottom: 20px;  
}

.wide-btn button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.wide-btn button:hover {
  background-color: #45a049; 
}
