
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a0a;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    color: #c5a059; /* Gold color */
    font-size: 1.2rem;
}

.logo span{
color: #FFFFFF;
}

nav a {
    color: #aaa;
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}




.hero {
    display: flex;
    padding: 60px 80px;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-content {
    flex: 1;
    max-width: 600px;
}

.status {
    color: #c5a059;
    font-size: 0.7rem;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.accent {
    color: #c5a059;
    font-style: italic;
}

.description {
    color: #888;
    margin-bottom: 30px;
}


button {
    padding: 12px 24px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
    border: 1px solid #c5a059;
}

.btn-solid {
    background: #c5a059;
    color: #000;
}

.btn-outline {
    background: transparent;
    color: #c5a059;
    margin-left: 10px;
}


.price-card {
    background: #111;
    padding: 30px;
    width: 400px;
    border: 1px solid #222;
}

.main-price {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    margin: 10px 0;
}

.change {
    color: #4caf50; /* Green for growth */
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.grid-prices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.price-item {
    background: #181818;
    padding: 15px;
    border: 1px solid #222;
}

.price-item span {
    font-size: 0.6rem;
    color: #666;
    display: block;
}


.stats {
    display: flex;
    gap: 40px;
    margin-top: 60px;
}

.stats h3 {
    color: #c5a059;
    font-size: 1.5rem;
}

.stats p {
    font-size: 0.6rem;
    color: #666;
}